
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="../css/app2.css" type="text/css">
<!--<link rel="stylesheet" href="styles.css" type="text/css">-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../css/submenu.css">
<link rel="stylesheet" href="../css/faq.css" type="text/css">

<link href="https://fonts.googleapis.com/css?family=Inconsolata|Quicksand" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta name="language" content="EN">
        <meta name="subject" content="website content">
        <meta name="keywords" content="Gastroenterologists, colonoscopy service, Upper GI endoscopy service,gastrologist in chicago">
        <meta name="description" content="A Clinical website of Dr M bawani ">
    
        <title>Home | Gastroenterologists Ltd. | Gimd4u</title>
</head>

<body>
    <nav role="navigation" class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="navbar-brand active disabled" href="">Gastroenterologists Ltd.</a> 
          </div>
          <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul id="fresponsive" class="nav navbar-nav dropdown">
              <li> <a href="#myscroll" >Doctors</a></li>                        
              <li class="dropdown">
                <a href="#collapseExample" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li class="closeonclick"><a href="../pdf/Colonoscopy.pdf" target="_blank">Colonoscopy</a></li>
                  <li class="closeonclick"><a href="../pdf/EGDinfo.pdf" target="_blank">Upper GI Endoscopy</a></li>
                  <li class="closeonclick"><a href="../pdf/ERCPINFO.pdf" target="_blank">ERCP</a></li>
                  <li class="closeonclick"><a href="../pdf/FSINFO .pdf" target="_blank">Flexible Sigmoidoscopy</a></li>
                  <li class="closeonclick"><a href="https://www.youtube.com/watch?v=v-H0rfJ6caY&feature=relmfu" target="_blank">Small Bowel Capsule Endoscopy</a></li>
                </ul>
              </li>
      
              <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle">Patients
                  <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Patients Education<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="../pdf/Colonoscopy.pdf" target="_blank">Colonoscopy</a></li>
                        <li ><a href="../pdf/EGDinfo.pdf" target="_blank">Upper GI Endoscopy</a></li>
                        <li ><a href="../pdf/ERCPINFO.pdf" target="_blank">ERCP</a></li>
                        <li ><a href="../pdf/FSINFO .pdf" target="_blank">Flexible Sigmoidoscopy</a></li>
                        <li ><a href="https://www.youtube.com/watch?v=v-H0rfJ6caY&feature=relmfu" target="_blank">Small Bowel Capsule Endoscopy</a></li>
                      </ul>
                    </li>
      
                    <li class='dropdown-menu'>
                      <a data-toggle="dropdown" class="dropdown-toggle" href="#">Paitents form</a>
                          <ul class="dropdown-menu">
                            <li ><a href="../pdf/Patient Request for Records.pdf" target="_blank">Patient Request for Records</a></li>
                            <li><a href="../pdf/New Patient Consent Form.pdf" target="_blank">New Patient Consent Form</a></li>
                            <li><a href="../pdf/NPPacknowledgment.pdf" target="_blank">Privacy Practices Acknowledgment Form</a></li>
                            <li><a href="../pdf/Gastroenterology Patient Hx Form.pdf" target="_blank">Patient History Form</a></li>
                            </ul>
                          </li>
      
                      <li class="dropdown-submenu">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Insurance</a>
                          <ul class="dropdown-menu">
                            <li><a href="#" class="disabled">Aetna</a></li>
                            <li><a href="#" class="disabled">Advocate PHO</a></li>
                            <li><a href="#" class="disabled">Blue Cross Blue Shield</a></li>
                            <li><a href="#" class="disabled">Cigna</a></li>
                            <li><a href="#" class="disabled">Gaurdian</a></li>
                            <li><a href="#" class="disabled">HFN</a></li>
                            <li><a href="#" class="disabled">Humana</a></li>
                            <li><a href="#" class="disabled">Medicare</a></li>     
                            <li><a href="#" class="disabled">Private Health Care Systems</a></li>
                            <li><a href="#" class="disabled">Tricare</a></li>                 
                          </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
                
              <ul class="nav navbar-nav navbar-right">
                  <li class="closeonclick"><a href="/appointment">Schedule An Appointment</a></li>
                  <li class="closeonclick"><a href="/faqs">FAQs</a></li>
               </ul>
              </div>
            </nav>
      
